body {
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    font-size: 1rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%
}

legend {
    font-size: 2rem;
}

input[type=text], textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=button] {
    background-color: #6495ED;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

fieldset {
    border: 1px solid #ddd;
    background-color: whitesmoke;
    border-radius: 4px;
}

legend {
    border: 1px solid #ddd;
    background-color: white;
    padding: 1rem;
}

form {
    padding: 1rem;
}


/* Responsive Design */

@media only screen and (min-width: 25rem) {

    input[type=button] {
        width: 25%;
    }
    
    

    .label-move {
        display: inline-block;
        width: 49%;
    }
 
    
}

@media only screen and (min-width: 40rem) {

    input[type=button] {
        width: 25%;
    }
    
    
   
    .label-move {
        display: inline-block;
        width: 49%;
    }
    
    

    .wrapper {
        max-width: 50rem;
    }
}